#container {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    background-color: grey;
    padding: 20px;
}

#container-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#mydisplay {
    display: block;
    height: 100px;
    width: 496px;
    font-size: 50px;
    background-color: lightgrey;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}

.btn-group1 button {
    background-color: cyan;
    height: 100px;
    width: 100px;
    font-size: x-large; 
    margin-top: 3px;
}

.btn-group1 :hover {
    background-color: lightblue;
}

.btn-group1 :active {
    background-color: lightcyan;
}

.btn-group2 button {
    background-color: default;
    height: 100px;
    width: 100px;
    font-size: x-large;
    margin-top: 3px;
}

#equalsBtn, #clearBtn {
    width: 308px;
}
